<header xmlns:th="http://www.w3.org/1999/xhtml">
<nav class="navbar navbar-expand-md navbar-dark bg-dark alt-color">
    <div  class="container">

        <img style="width:50px;height: 50px" src="https://seeklogo.com/images/P/pharmacy-logo-7092A6C9DF-seeklogo.com.png">
        <a class="navbar-brand" href="/home"></a>
        <a class="navbar-brand" href="/home">  GLOBAL HEALTH</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li th:if="${session.en==null}" class="nav-item m-auto">
                    <a  class="nav-link active" href="/home">Почетна</a>
                </li>

                <li th:if="${session.en!=null}" class="nav-item m-auto">
                    <a  class="nav-link active" href="/home">Home</a>
                </li>


                <li th:if="${session.en==null}" class="nav-item m-auto">
                    <a class="nav-link active" href="/home/apteki">Аптеки</a>
                </li>


                <li th:if="${session.en!=null}" class="nav-item m-auto">
                    <a class="nav-link active" href="/home/apteki">Pharmacies</a>
                </li>



                <li th:if="${session.en==null}" class="nav-item m-auto">
                    <a class="nav-link active" href="/lokator">Локатор</a>

                </li>
                <li th:if="${session.en!=null}" class="nav-item m-auto">
                    <a class="nav-link active" href="/lokator">Locator</a>

                </li>







            </ul>
            <form th:method="GET" th:action="@{/search}">

                <input type="text" name="search">

                <input id="kopce" type="submit" value="Search">
            </form>

            <form class="form-inline my-2 my-lg-0">


                <div th:if="${session.user==null}">
                    <a th:if="${session.en==null}" class="btn btn-light btn-sm ml-3" href="/login">
                        <i class="fa fa-shopping-cart"></i> Најави се
                    </a>

                    <a th:if="${session.en==null}" class="btn btn-light btn-sm ml-3" href="/register">
                        <i class="fa fa-shopping-cart"></i> Регистрирај се
                    </a>

                    <a th:if="${session.en!=null}" class="btn btn-light btn-sm ml-3" href="/login">
                        <i class="fa fa-shopping-cart"></i> Login
                    </a>

                    <a th:if="${session.en!=null}" class="btn btn-light btn-sm ml-3" href="/register">
                        <i class="fa fa-shopping-cart"></i> SignUp
                    </a>
                </div>
                <div  style="  text-align: center"  th:if="${session.user!=null}" class="nav-item m-auto">
                    <a th:text="${session.user.getName() +' '+ session.user.getSurname()}" style="color:white; font-size: 20px;" class="nav-link active" href="/login/profile"></a>
                </div>

                <div th:if="${session.user!=null}">
                    <a th:if="${session.en!=null}" class="btn btn-light btn-sm ml-3" href="/logout">
                        <i class="fa fa-shopping-cart"></i> Log out
                    </a>

                    <a th:if="${session.en==null}" class="btn btn-light btn-sm ml-3" href="/logout">
                        <i class="fa fa-shopping-cart"></i> Одјави се

                    </a>
                </div>


                <div style=" width: 50px;height: 40px; text-align: center" th:if="${session.en==null}" class="nav-item m-auto">
                    <a style="color: white" class="nav-link active" href="/jazik/en">EN</a>
                </div>

                <div style="width: 50px;height: 40px; text-align: center"  th:if="${session.en!=null}" class="nav-item m-auto">
                    <a  style="color:white" class="nav-link active" href="/jazik/mk">MK</a>
                </div>



                <div style="  width: 50px;height: 40px; text-align: center; " th:if="${session.en==null}" class="nav-item m-auto">
                    <a style="color: white ;" class="nav-link active" href="/help">Помош</a>
                </div>

                <div style="  width: 50px;height: 40px; text-align: center"  th:if="${session.en!=null}" class="nav-item m-auto">
                    <a  style="color:white ;"  class="nav-link active" href="/help">Help</a>
                </div>






            </form>
        </div>
    </div>
</nav>
</header>