<section  class=" text-center" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">

        <div style="text-align: center">
            <h2  th:if="${session.en!=null}"  >Pharmachy Locator</h2>
            <h2  th:if="${session.en==null}"  >Локатор на аптеки</h2>
        </div>
    </div>



    <br>

    <form th:method="GET" th:action="@{'/lokator/search'}">

        <input type="text" name="search" >

        <input style="background: gold; color: black" id="k"type="submit" value="Search">
    </form>
    <br>


    <div style="background: white; margin-right: auto;margin-left: auto; width: 130px; height:27px; " th:if="${prebarano!=null}" >

        <h3 style="color: black; font-size: 20px;" th:text="${prebarano}"></h3>

    </div>



  <div style="margin-right: auto;margin-left: auto; padding-right: 50px; padding-left: 50px;">  <div style="position: center" id="issMap"></div></div>




    <script th:inline="javascript">
        var myval = /*[[${lokacii}]]*/ "Test";
        var zafokus=  /*[[${ZaFokus}]]*/ "Test";

        var d=[];
        var c=[];


        var lo1=sessionStorage.getItem("UserLocation1");
        var lo2=sessionStorage.getItem("UserLocation2");
        lo1=parseFloat(lo1)
        lo2=parseFloat(lo2)
        lo2=lo2
        lo1=lo1
        var zumot;
        if(zafokus==null)
        {
            zumot=13;
            console.log(zumot);
            myval[myval.length-1].lat=lo1;
            myval[myval.length-1].lon=lo2;

        }
        else{
            zumot=12;
            console.log(zumot)

        }


        const mymap = L.map('issMap').setView([myval[myval.length-1].lat,myval[myval.length-1].lon], zumot);

        const attribution =
            '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors';

        const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        const tiles = L.tileLayer(tileUrl, { attribution });
        tiles.addTo(mymap);


        const YL = L.icon({
            iconUrl: "https://cdn3.iconfinder.com/data/icons/map-14/144/Map-10-512.png",
            iconSize: [45, 45],
            iconAnchor: [30, 25]
        });

        const issIcon = L.icon({
            iconUrl: "https://i.pinimg.com/originals/25/62/aa/2562aacd1a4c2af60cce9629b1e05cf2.png",

            iconSize: [50, 50],
            iconAnchor: [30, 25],
            popupAnchor:  [-3, -76],
            title:"Home"
        })




        const api_url = 'https://api.wheretheiss.at/v1/satellites/25544';
        let firstTime = true;




        var old1=parseFloat(d)
        var old2=parseFloat(c)


        //momentlana lokacija
        navigator.geolocation.getCurrentPosition(function (position) {
            var positionInfo = "Your current position is (" + "Latitude: " + position.coords.latitude + ", " + "Longitude: " + position.coords.longitude + ")";
            d.push(position.coords.latitude);
            c.push(position.coords.longitude);
            d=parseFloat(d)
            c=parseFloat(c)

            var zz;
            zz=  L.marker([d, c], {icon: YL}).addTo(mymap);

            zz.bindPopup("Your Location");

            d=[];
            c=[];


        });



        //presmetuvanje rastojanie
        function getDistanceFromLatLonInKm(lat1, lon1, lat2, lon2) {
            var R = 6371; // Radius of the earth in km
            var dLat = deg2rad(lat2-lat1);  // deg2rad below
            var dLon = deg2rad(lon2-lon1);
            var a =
                Math.sin(dLat/2) * Math.sin(dLat/2) +
                Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
                Math.sin(dLon/2) * Math.sin(dLon/2)
            ;
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
            var d = R * c; // Distance in km
            return d;
        }





        function deg2rad(deg) {
            return deg * (Math.PI/180)
        }

        var niza2=[];
        for(var i=0;i<myval.length;i++) {


            niza2[i]= parseFloat(getDistanceFromLatLonInKm(lo1,lo2,myval[i].lat,myval[i].lon));


        }




        //stavanje od baza
        var niziste=[];
        for(var w=0;w<myval.length-1;w++) {
            niziste[w]=  L.marker([myval[w].lat, myval[w].lon]).addTo(mymap);
            niziste[w].bindPopup("Aptekata se naogja na " + String(niza2[w]) + " KM");



        }





    </script>


</section>

