<section class=" text-center" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">



        <div style="background: white" th:if="${session.en==null}">



        <b>

       <div style="font-size: 40px ; color:darkred" th:text="${ session.apteka.getIme()}"></div>

        <div  th:text="${'Локација:      ' +session.apteka.getLokacija()}"></div>

        <div th:text="${'Адреса:     ' +session.apteka.getAdresa()}"></div>

        <div th:text="${'Дејности:      ' +session.apteka.getDejnosti()}"></div>

            <div th:text="${'Телефон:      ' +session.apteka.getTelefon()}"></div>

        <div th:text="${'Работно време      : ' +session.apteka.getRabotnovreme()}"></div>
            </b>
        </div>

        <div style="background: white" th:if="${session.en!=null}">


            <b> <div style="font-size: 40px; color:darkred"th:text="${session.apteka.getIme()}"></div>

            <div th:text="${ 'Location:     ' +session.apteka.getLokacija()}"></div>

            <div th:text="${'Address:     ' +session.apteka.getAdresa()}"></div>

            <div th:text="${'Activities:     ' +session.apteka.getDejnosti()}"></div>

            <div th:text="${'Phone number:      ' +session.apteka.getTelefon()}"></div>

            <div th:text="${'Working hours:     ' +session.apteka.getRabotnovreme()}"></div>
            </b>
        </div>


    </div>

    <style>
        #Map {
            height: 500px;
            width: auto;
            margin-right: auto;
            margin-left: auto;
            border: 3px solid black;


        }
    </style>

   <div style="margin-left: auto;margin-right: auto; padding-left: 70px; padding-right: 70px "> <div id="Map"></div></div>
    <div style="background: #313339; color:white;position: center ;width: 120px;margin-left: auto;margin-right: auto" th:if="${session.en==null}">
 Оддалеченост:
    </div>

    <div style="background: #313339; color:white;margin-left: auto; margin-right: auto; width: 100px;" th:if="${session.en!=null}">
        Disstance:
    </div>

    <span style="background: #313339; color:white;margin-left: auto; margin-right: auto; width: 100px;" id="rastojanie"></span>
    <script th:inline="javascript">



        var lo1=sessionStorage.getItem("UserLocation1");
        var lo2=sessionStorage.getItem("UserLocation2");
        lo1=parseFloat(lo1)
        lo2=parseFloat(lo2)

        console.log(lo1,lo2);


        var so4 = /*[[${so4}]]*/ "Test";
        var so2 = /*[[${so2}]]*/ "Test";


        const mymap = L.map('Map').setView([so4,so2], 16);
        L.marker([so4,so2]).addTo(mymap);

        const attribution =
            '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors';

        const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        const tiles = L.tileLayer(tileUrl, { attribution });
        tiles.addTo(mymap);

        const YL = L.icon({
            iconUrl: "https://cdn3.iconfinder.com/data/icons/map-14/144/Map-10-512.png",
            iconSize: [45, 45],
            iconAnchor: [30, 25]
        });

        const issIcon = L.icon({
            iconUrl: "https://i.pinimg.com/originals/25/62/aa/2562aacd1a4c2af60cce9629b1e05cf2.png",

            iconSize: [50, 50],
            iconAnchor: [30, 25],
            popupAnchor:  [-3, -76],
            title:"Home"
        })

        L.marker([lo1,lo2],{icon: YL}).addTo(mymap);

        function getDistanceFromLatLonInKm(lat1, lon1, lat2, lon2) {
            var R = 6371; // Radius of the earth in km
            var dLat = deg2rad(lat2-lat1);  // deg2rad below
            var dLon = deg2rad(lon2-lon1);
            var a =
                Math.sin(dLat/2) * Math.sin(dLat/2) +
                Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
                Math.sin(dLon/2) * Math.sin(dLon/2)
            ;
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
            var d = R * c; // Distance in km
            return d;
        }

        var rastojanie=getDistanceFromLatLonInKm(lo1,lo2,so4,so2);


        document.getElementById("rastojanie").innerHTML= rastojanie + " KM";


        function deg2rad(deg) {
            return deg * (Math.PI/180)
        }




        const api_url = 'https://api.wheretheiss.at/v1/satellites/25544';
        let firstTime = true;



    </script>


</section>

